In [7]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns
import psycopg2
import json

In [12]:
conn = None
# Cargar credenciales desde el archivo JSON
try:
    with open("../credenciales.json", "r") as file:
        credenciales = json.load(file)
except Exception as e:
    print(f"Error al cargar el archivo JSON: {e}")
    credenciales = None

# Establecer la conexión
if credenciales:  # Solo intentar conectar si las credenciales se cargaron correctamente
    try:
        conn = psycopg2.connect(
            user=credenciales["user"],
            password=credenciales["password"],
            host=credenciales["host"],
            port=credenciales["port"],
            database=credenciales["database"]
        )
        print("¡Conexión exitosa!")
    except Exception as e:
        print(f"Error al conectar a la base de datos: {e}")
else:
    print("No se pudieron cargar las credenciales. No se puede establecer la conexión.")

¡Conexión exitosa!

In [15]:
# Cargar credenciales desde el archivo JSON
with open("../credenciales.json", "r") as file:
    credenciales = json.load(file)

# Crear la cadena de conexión
connection_string = f"postgresql+psycopg2://{credenciales['user']}:{credenciales['password']}@{credenciales['host']}:{credenciales['port']}/{credenciales['database']}"
engine = create_engine(connection_string)

# Cargar los datos desde la base de datos
df = pd.read_sql_table('candidates', engine)

In [16]:
(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   First Name                 50000 non-null  object
 1   Last Name                  50000 non-null  object
 2   Email                      50000 non-null  object
 3   Application Date           50000 non-null  datetime64[ns]
 4   Country                    50000 non-null  object
 5   YOE                        50000 non-null  int64
 6   Seniority                  50000 non-null  object
 7   Technology                 50000 non-null  object
 8   Code Challenge Score       50000 non-null  float64
 9   Technical Interview Score  50000 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 3.8+ MB

In [17]:
df.isnull().sum()

First Name                   0
Last Name                    0
Email                        0
Application Date             0
Country                      0
YOE                          0
Seniority                    0
Technology                   0
Code Challenge Score         0
Technical Interview Score    0
dtype: int64

In [18]:
df.duplicated().sum()

0

In [19]:
df.describe()

,Application Date,YOE,Code Challenge Score,Technical Interview Score
count,50000,50000.000000,50000.000000,50000.000000
mean,2020-04-03 23:04:14.592000,15.286980,4.996400,5.003880
min,2018-01-01 00:00:00,0.000000,0.000000,0.000000
25%,2019-02-17 00:00:00,8.000000,2.000000,2.000000
50%,2020-04-06 00:00:00,15.000000,5.000000,5.000000
75%,2021-05-21 00:00:00,23.000000,8.000000,8.000000
max,2022-07-04 00:00:00,30.000000,10.000000,10.000000
std,NaN,8.830652,3.166896,3.165082

In [30]:
df['Email'].value_counts()

Email
fern70@gmail.com             3
marianne31@yahoo.com         3
hoyt52@yahoo.com             2
bertrand65@hotmail.com       2
rogers12@gmail.com           2
                            ..
marion91@hotmail.com         1
sister51@hotmail.com         1
marvin_parker@gmail.com      1
holden_lakin@gmail.com       1
abigayle.crooks@yahoo.com    1
Name: count, Length: 49833, dtype: int64

In [31]:
df['Country'].value_counts()

Country
Malawi                          242
Spain                           238
Svalbard & Jan Mayen Islands    234
Cook Islands                    234
Netherlands Antilles            234
                               ...
Libyan Arab Jamahiriya          172
Cape Verde                      172
Isle of Man                     170
Tanzania                        165
Cocos (Keeling) Islands         164
Name: count, Length: 244, dtype: int64

In [32]:
df['Seniority'].value_counts()

Seniority
Intern       7255
Mid-Level    7253
Trainee      7183
Junior       7100
Architect    7079
Lead         7071
Senior       7059
Name: count, dtype: int64

In [33]:
df['Technology'].value_counts()

Technology
Game Development                           3818
DevOps                                     3808
Social Media Community Management          2028
System Administration                      2014
Mulesoft                                   1973
Development - Backend                      1965
Development - FullStack                    1961
Adobe Experience Manager                   1954
Data Engineer                              1951
Security                                   1936
Development - CMS Frontend                 1934
Business Intelligence                      1934
Database Administration                    1933
Client Success                             1927
Design                                     1906
QA Manual                                  1902
Technical Writing                          1901
QA Automation                              1892
Sales                                      1890
Development - Frontend                     1887
Development - CMS Backend                  1882
Business Analytics / Project Management    1878
Salesforce                                 1874
Security Compliance                        1852
Name: count, dtype: int64